div { border: 1px solid #585858; }

#content-wrapper{
  width:62.5%;
  margin: 0 auto;
}


#banner{
width: 1140px;
height: 532px;
float: left;
}

.img-container{
  width: 360px;
  height: 181.85px;
  float: left;
}

#img1{

}

#img2{

}

#img3{

}

#img4{

}

#img5{

}

#img6{

}
