#content-wrapper{
  width:63%;
  margin: 0 auto;
}

#left-content {
  width: 30%;
  float: left;

}

.options {
  border: thin solid black;
  padding: 5%;
  margin: 5%;
  text-align: center;
  background-color: lightgrey;
}

.options-images {
  max-width: 90%;
  margin: 10% auto;

}

#right-content {
  width: 68%;
  height: 100%;
  float: right;
  margin: 1%;
}

#first-right-content {
  background-image: url("http://lorempixel.com/800/400");
  max-width: 800px;
  height: 400px;

}

#contact-info {
  width: 60%;
  height: 80%;
  padding: 5%;
  margin: 5%;
  float: right;
  background-color: white;
}

#second-right-content {
  max-width: 100%;
  height: 350px;
  padding: 1%;
  margin: 1%;
}

#help {
  float: left;
  height: 35%;
}

.help-menus {
  padding: 2%;
  margin-top: 50px;
  text-align: center;
  background-color: lightgrey;
  float: left;
  position: absolute;
}

#map {
  float: right;
  height: 65%;
  margin: 2%;
}

#third-right-content {
  max-width: 100%;
  margin: 1%;

}

.col-form {
  width: 50%;
  float: left;
  padding: 2%;
}

.col-form input{
  width: 100%;
  margin: 2%;

}

.contact-form {
  width: 100%;
  float: left;
  padding: 2%;
}

.contact-form input{
  margin: 1%;;

}
.comments-form {
  width: 100%;
  padding: 2%;
}

.comments-form select {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;

}

.comments-form input {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;

}

.comments-form textarea {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
  height: 200px;

}

.comments-form button {
  float: right;

}
