
#footer-wrapper{
  width: 100%;
  height: 1091px;
}

#first-section{
  width: 100%;
  height: 477px;
  background-color: #d9d9d9;
}

#second-section{
  width: 100%;
  height: 522px;
  background-color: #bfbfbf;
}

#third-section{
  width: 100%;
  height: 91.5px;
  background-color: #404040;
  color: #ffffff;
}

#fs-wrapper{
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

#ss-wrapper{
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

#ts-wrapper{
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

#atencion-cliente{
  height: 239.2px;
  width: 258px;
  float: left;
}

#sobre-nosotros{
  height: 218.76px;
  width: 258px;
  float: left;
}

#mantente-dia{
  height: 223.2px;
  width: 258px;
  float: left;
}

#container {
  width: 230px;
  height: 36px;
}

#contacto{
  height: 390px;
  width: 388px;
  float: right;
}

  #formas-metodos{
    height: 365px;
    width: 259px;
    float: left;
    font-family: sans-serif;
  }

  #forma-pago{
    height: 183px;
    width: 100%;
    display: inline-block;
  }

  #metodo-envio{
    height: 135px;
    width: 100%;
  }

  #garantia-compra{
    height: 306px;
    width: 259px;
    float: left;
  }

  #puntuacion {
    width: auto 230px;
    height: auto 134px;
  }

  #verificado {
    width: auto 230px;
    height: auto 109px;
  }

  #nuestras-ventajas{
    height: 420px;
    width: 384px;
    float: left;
  }

  #nuestr-ventj {
    width: auto 360px;
    height: auto 420px;
  }

  #cosas-colaboradores{
    height: 322px;
    width: 260px;
    float: right;
  }

  #mas-cosas{
    height: 195px;
    width: 100%;
  }

  h6 {
    margin: 2px;
  }

  #colaboradores{
    height: 97px;
    width: 100%;
  }

#content {
  width: auto 1170px;
  height: auto 41.5px;
  float: left;
  margin-top: 30px;
}

#inercia-logo {
  float: left;
}

#black-slide {
  margin-left: 25px;
  float: left;
}

#addresses {
  float: right;
  margin-left: 70px;
}

#{}
