#footer-first-section {
  background-color: #848484;
}

#footer-second-section {
  background-color: #585858;
}

.footer-a {
  width: 19.5%;
  font-size: 12px;
}


.title {
  font-size: 16px;
  font-family: sans-serif;
  padding: 5px;
}

#a1 {
  float: left;
  padding-left: 100px;
}

#a2 {
  float: left;
}

#a3 {
  float: left;
 }

#a4 {
  float: left;
  padding-right: 100px;
}
